version: "3.8"
x-common:
  macvlan: &macvlan-environment
    RESOLVE_MACVLAN_PARENT: &macvlan-parent "eth0"
    RESOLVE_MACVLAN_SUBNET: &macvlan-subnet "192.168.100.0/24"
    RESOLVE_MACVLAN_GATEWAY: &macvlan-gateway "192.168.100.1"
    RESOLVE_PG_IP: &pg-ip "192.168.100.50"

  database: &db-environment
    POSTGRES_DB: &pg-db database
    POSTGRES_USER: &pg-user postgres
    POSTGRES_PASSWORD: DaVinci
    TZ: Asia/Tokyo
    POSTGRES_LOCATION: &db-location "/Volume1/Docker/Resolve_DB:/var/lib/postgresql/data"

  backup: &backup-environment
    SCHEDULE: "@daily"
    BACKUP_KEEP_DAYS: 7
    BACKUP_KEEP_WEEKS: 4
    BACKUP_KEEP_MONTHS: 6
    BACKUP_KEEP_MINS: 0
    BACKUP_LOCATION: &bk-location "/Volume2/project_backup/backups:/backups"

# ここから下は変更不要
services:
  postgres:
    container_name: resolve_pgsql
    image: postgres:13
    restart: always
    environment:
      <<: [*db-environment]
    volumes:
      - *db-location
    networks:
      resolve_macvlan:
        ipv4_address: *pg-ip
    healthcheck:
      test: ["CMD", "pg_isready", "-U", *pg-user, "-d", *pg-db]
      interval: 10s
      timeout: 5s
      retries: 5

  pgbackups:
    container_name: resolve_pgbackup
    image: prodrigestivill/postgres-backup-local:13
    restart: always
    volumes:
      - *bk-location
    depends_on:
      - postgres
    environment:
      <<: [*db-environment, *backup-environment]
      POSTGRES_HOST: *pg-ip
      POSTGRES_EXTRA_OPTS: --blobs --format=custom --quote-all-identifiers
      BACKUP_SUFFIX: .backup
      HEALTHCHECK_PORT: 8080
    networks:
      resolve_macvlan: {}
    healthcheck:
      interval: 30s

networks:
  resolve_macvlan:
    driver: macvlan
    driver_opts:
      parent: *macvlan-parent
    ipam:
      config:
        - subnet: *macvlan-subnet
          gateway: *macvlan-gateway
